<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Редактирование института <%= link_to 'Назад', institute_path(@institute), class: 'btn btn-default' %></h1>
    </div>
  </div>
  <div class="col-md-12">
    <%= render 'form', institute: @institute %>
  </div>
</div>