<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Институты <%= link_to 'Добавить институт', new_institute_path, class: 'btn btn-default' %></h1>
    </div>

    <% @institutes.each do |institute| %>
      <%= link_to institute_path(institute), class: 'panel panel-default' do %>
        <div class="panel-body">
          <%= institute.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>