<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Предметы <%= link_to 'Добавить предмет', new_lesson_path, class: 'btn btn-default' %></h1>
    </div>

    <% @lessons.each do |lesson| %>
      <%= link_to lesson_path(lesson), class: 'panel panel-default' do %>
        <div class="panel-body">
          <%= lesson.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>