<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1>Преподаватели <%= link_to 'Добавить преподавателя', new_teacher_path, class: 'btn btn-default' %></h1>
    </div>

    <% @teachers.each do |teacher| %>
      <%= link_to teacher_path(teacher), class: 'panel panel-default' do %>
        <div class="panel-body">
          <%= teacher.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>